* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #c5e3fc;
}
ul {
  list-style-type: none;
  overflow: hidden;
}
li {
  float: left;
}
li a{
  display: block;
  color: black;
  text-decoration: none;
  font-family: tahoma, sans-serif;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.button {
  margin-top: 50px;
}
li a:hover {
  color: grey;
}
.active {
  font-weight: bold;
}
.logo {
  padding: 10px;
}

main {
  margin-bottom: 50px;
}

img {
  max-width: 100%;
  height: auto;
}
/* flex-container index */

.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-left {
  flex: 50%;
  margin: 20px;
  text-align: center;
}
.flex-right {
  flex: 50%;
  margin: 20px;
  text-align: center;
}



/*    TEKST TYPER  */

.big-text {
  font-family: arial, sans-serif;
  font-size: 70px;
  font-style: bold;
  color: black;

}
.medium-text {
  font-family: arial, sans-serif;
  font-size: 40px;
  color: black;

}
.small-text {
  font-family: arial, sans-serif;
  font-size: 20px;
  color: black;

}
.staff {
float: left;
padding: 20px;
text-align: center;

}

#contactDiv{
    margin: 20px;
    padding: 20px;
}
#name{
    width: 50%;
  
}
#mail{
    width: 50%;
}
textarea{
    height:200px;
    width: 50% ;
    font-size:12pt;
    resize: none;
}
.submitBtn{
    background-color: #1761A0;
    color: white;
    padding: 50px;
    cursor: pointer;
}
.submitBtn:hover{
    background-color: #5AB1FD;
    transition: 0.2s;
}
.submitBtn:active{
    background-color: #1761A0;
}

#scheduleDiv{
    margin: auto;

    padding: 20px;

}
#schedule{
    width: 100%;
    border-collapse: collapse;
}
#schedule td{
    border: 2px solid black;
    padding: 8px
}
#schedule tr:nth-child(even){background-color: #5AB1FD}
#schedule th{
    text-align: left;
}

@media screen and (max-width: 800px){
  li {
    float: none;
  }
  .staff {
    float: none;
  }
  .button {
    margin: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .flex-container {
    flex-direction: column;
  }

}
